{% extends "base.html" %}

{%block title%}My Achievement{% endblock %}

{%block content%}
<style type="text/css">
  body{
    background-image: url('../static/img/fon.png');
  }
</style>
<img class="achievement_img" src="static/img/achievement.jpg">
<div class="my_achievement">
    <ul>
      <li>I can swimming.</li><br>
      <li>I can play football.</li><br>
      <li>I can sleep.</li><br>
      <li>I can develop software on Java.</li><br>
      <li>I can develop software on Spring.</li><br>
      <li>I can develop software on Python.</li><br>
    </ul>
</div>
{% endblock %}