{% extends "base.html" %}

{%block title%}Contact Form{% endblock %}
{%block content%}
{%from "_render_field.html" import render_field%}
<style type="text/css">
    body {
        background-image: url('../static/img/fon.png');
    }
</style>
<div class="form-wrapper" align="center">

    <form method="POST" action="{{ url_for('contact') }}">
        {{form.csrf_token}}
        <div class="flash_message">{% for msg in get_flashed_messages() %}
            {{msg}}
            {% endfor %}
        </div>

        {%if cookie_name is none%}
        {{ render_field(form.name) }}
        {{ render_field(form.email) }}
        {{ render_field(form.body) }}
        {%else%}
        {{ render_field(form.body) }}
        {%endif%}
        <br>
        {{ form.submit(class="btn btn-light btn-lg") }}

    </form>
</div>
{% endblock %}