body {
    background-color: black;
}

.info_about_me {
    color: white;
    font-size: 25px;
    width: 70%;
    position: absolute;
    display: inline-block;
}

.my_achievement {
    color: white;
    font-size: 25px;
    position: absolute;
    display: inline-block;
}

.achievement_img {
    width: 512px;
    height: 512px
}

.fon {
    height: 100%;
    width: 100%;
}

.navbar-nav {
    border: outset;
}