{% from "_render_field.html" import render_field %}
{% extends 'base.html' %}
{% block content %}
<style type="text/css">
    .fon {
        background-image: url(../static/img/fon.png);
    }

    p {
        text-align: center;
        font-size: 50px;
    }

    .block-form-post {
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(../static/img/fon.png);
    }

    .form-post {
        border: 1px solid black;
        border-radius: 25px;
        margin-top: 25px;
        padding: 20px 20px 20px 20px;
        align-items: center;
        justify-content: center;
        background-color: white;
    }

    .form-item {
        width: 500px;
    }

    input {
        width: 100%;
        padding: 10px 15px;
        margin-bottom: 10px;
        border: 1px solid black;
        border-radius: 10px;
    }

    textarea {
        width: 100%;
        padding: 5px 10px;
        margin-bottom: 5px;
        border: 1px solid black;
        border-radius: 10px;
        resize: none;
    }
</style>
<body class="fon">
<form method="POST" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <div class="block-form-post">
        <div class="form-post">
            <p>Add product</p>
            <div class="form-item">{{ render_field(form.name) }}</div>
            <div class="form-item">{{ render_field(form.price) }}</div>
            <div class="form-item">{{ render_field(form.type) }}</div>
            <div class="form-item">{{ render_field(form.number) }}</div>
            <div class="form-item">{{ render_field(form.date) }}</div>
            <div class="form-item">{{ render_field(form.category) }}</div>
            <div class="form-item">{{ render_field(form.submit) }}</div>
        </div>
    </div>
</form>
</body>
{% endblock %}